In [2]:
import pandas as pd
df = pd.read_csv('WordsByCharacter.csv')

In [3]:
df.head()

,Film,Chapter,Character,Race,Words
0,The Fellowship Of The Ring,01: Prologue,Bilbo,Hobbit,4
1,The Fellowship Of The Ring,01: Prologue,Elrond,Elf,5
2,The Fellowship Of The Ring,01: Prologue,Galadriel,Elf,460
3,The Fellowship Of The Ring,01: Prologue,Gollum,Gollum,20
4,The Fellowship Of The Ring,02: Concerning Hobbits,Bilbo,Hobbit,214

In [4]:
df.index.names

FrozenList([None])

In [5]:
df.columns

Index(['Film', 'Chapter', 'Character', 'Race', 'Words'], dtype='object')

In [ ]:
df = df.set_index(['Film1'])