In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'a':[1,2,3],'b':[4,5,6],'c':[9,0,8]},index=[1,2,3])

In [18]:
df
df.index.names

FrozenList([None])

In [17]:
s = pd.Series(range(5))
s.index.names

FrozenList([None])

In [27]:
sample = np.random.sample((3,60))

In [28]:
pd.DataFrame(sample)

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
0,0.126022,0.884505,0.688117,0.776777,0.104984,0.292353,0.963811,0.398359,0.808482,0.541367,...,0.949109,0.006065,0.867232,0.635450,0.165659,0.879323,0.008767,0.889945,0.712702,0.322259
1,0.228544,0.647458,0.869553,0.770846,0.371033,0.760986,0.394844,0.717069,0.829843,0.977729,...,0.086103,0.843664,0.865985,0.062073,0.516424,0.724861,0.721844,0.344406,0.138539,0.283153
2,0.777615,0.212924,0.585353,0.416146,0.191515,0.285278,0.205646,0.368584,0.440947,0.097660,...,0.700812,0.463912,0.922414,0.843142,0.770569,0.492444,0.650949,0.386826,0.202454,0.133955